/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
  background: #ffffff;
  color: #222;
}  

body.light {
  background: #f8f9fa;
  color: #222;
}

/* Dark Mode */
body.dark {
  background: #121212;
  color: #f5f5f5;
}

/* Smooth transition */
body {
  transition: background 0.3s ease, color 0.3s ease;
}